
.homeDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: burlywood;

    height: 100vh;
    width: 100vw;
}

.registerSendDeac {

    height: 2em;
    width: 9em;

    background-color: tomato;

    border-radius: 0.2em;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.registerSendAct {

    cursor: pointer;
    background-color: red;
    


}

.registerSendAct:hover {

    transition: 1s;
    background-color: darkred;
}